#CMake
*CMakeFiles*
*.cmake
*FracMan_interface*

#macOS folder config
*DS_Store

pydfnworks/pydfnworks/only_gen_output.py
pydfnworks/pydfnworks.egg-info

# dfnWorks Executables
DFNTrans/DFNTrans
DFNTrans/DFNTrans_TDRW
ParticleTracking_TDRW/DFNTrans_TDRW
C_uge_correct/correct_uge
C_stor_correct/correct_stor
DFN_Mesh_Connectivity_Test/ConnectivityTest
DFNGen/DFNGen
CPP_correct_volumes/correct_volume

Documentation/sphinx-docs/build/*

*/build/*
*/dist/*
*.egg

pydfnworks/pydfnworks.egg-info/*

*.pdf
!dfnWorks.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Other
*~
*.nfs*
*.swp

# Log Files
*.log

*.ipynb_checkpoints/*
examples/TPL/output_rfram/*
.vscode 
.vscode/* 
pydfnworks/pydfnworks/.install_date
