*logx3dgen*
*outx3dgen*
*CMakeFiles*
*egg*
*.o
*~
*.nfs*
*.swp
*.so
*.cmake
*.pyc

# dfnWorks Executables
DFNGen/DFNGen
C_uge_correct/correct_uge
DFN_MESH_Connectivity_Test/ConnectivityTest
ParticleTracking/DFNTrans

# LaTex files
*doctree*
*pickle*
*/build/*
*aux*
*idx*
*ilg*
*.ind*
*.tex*
*.toc*

# pdf files
*.pdf
!dfnWorks.pdf

*break*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Other Executables
*.exe
*.out
*.app
*.pyc
main

# Other
*~
*.nfs*
*.swp


