#CMake
*CMakeFiles*
*.cmake
*FracMan_interface*


pydfnworks/pydfnworks/only_gen_output.py
pydfnworks/pydfnworks/paths.py

# dfnWorks Executables
ParticleTracking/DFNTrans
C_uge_correct/correct_uge
DFN_Mesh_Connectivity_Test/ConnectivityTest
DFNGen/DFNGen

!inp_2_vtk/inp2vtk

*/build/*
*/dist/*
*.egg

*.pdf
!dfnWorks.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Other
*~
*.nfs*
*.swp


