# requirements.txt
#
# installs dependencies from ./setup.py, and the package itself,
# editable mode (comment/uncomment desired install)
# -e . --user

# normally
.

vtk
pyvista
numpy
shapely
geopandas
networkx
python-ternary
numpy
h5py
scipy
matplotlib
networkx
mplstereonet
fpdf
setuptools
seaborn
pyvtk
mpmath