# requirements.txt
#
# installs dependencies from ./setup.py, and the package itself,
# editable mode (comment/uncomment desired install)
# -e . --user

# normally
.

numpy
h5py
scipy
matplotlib
multiprocessing
argparse
shutil
os
sys
networkx
subprocess
glob
mplstereonet
fpdf
re
vtk
pyvista
shapely
geopandas
python-ternary
setuptools
seaborn
pyvtk
mpmath